.form-section {
  border-top: 1px solid #e8e8e8;
  width: 100%;
}

.form-header {
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.form-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.input-class {
  height: 2.813rem;
  border-radius: 4px;
  border: solid 1px #e1e1e1;
  background-color: #fff;
  padding-left: 1rem;
  width: 45.15%;
}

.input-class::placeholder {
  opacity: 0.7;
}

.input-width {
  width: 23.67%;
}

.submit-btn {
  font-size: 0.87rem;
  width: 11.5rem;
  height: 2.813rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #2e90f0;
}
